[user]
  name = Richard Szegh
  email = rich@richardszegh.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMf3BimpDK51+UPAGRyuJVnfsX5fMFEV9aa5TSFGw8qR

[includeIf "gitdir:~/Workspace/atg/"]
  path = ~/atg/.gitconfig

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[pull]
  rebase = false

[push]
  autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
