[user]
  name = Richard Szegh
  email = richard.szegh@accretivetg.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIq34AYkA99nDRPS9Yz1H5MesEMXKhqrWxIQnIdIuyo3

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[pull]
  rebase = false

[push]
  autoSetupRemote = true
