[pull]
	rebase = false
[user]
	name = Richárd Szegh
	email = rich@richardszegh.com
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
